{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["react", "prettier", "jsx-a11y"],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
