{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["react", "prettier", "jsx-a11y"],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
